<p id="notice"><%= notice %></p>

<div class="text-center">
  <h2><strong>Your post</strong></h2>

  <p><%= @post.content %></p>

  <br>
  <p><strong>Image:</strong>
    <%= image_tag @post.image.url %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) , class: "btn btn-primary"%> |
  <%= link_to 'Back', new_post_path , class: "btn btn-primary"%>

</div>
